bin
fastx
*.swp
a.out
file
main.cpp
src/a.out
hash_locator
indicies
indices
atoms
*.sketch
src/Clusters.hpp
src/KhashVector.cpp
src/KhashVector.hpp
src/test.cpp
src/test2.cpp
genomes.txt
sketches.txt
clusters_1
clusters_2
sketches_1
sketches_2
genomes_1.txt
genomes_2.txt
sketches_1.txt
sketches_2.txt
include/
lib/
